In [38]:
import pandas as pd
import tensorflow as tf
import numpy as np

In [2]:
user_profile = pd.read_csv("user_profiles.csv")
user_profile = user_profile.drop(columns=['Unnamed: 0'])
restaurant_profile = pd.read_csv("restaurant_profiles.csv")
restaurant_profile = restaurant_profile.drop(columns=['Unnamed: 0'])

In [3]:
user_profile

,user_id,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8
0,---r61b7EpVPkb4UVme5tA,0.149137,0.005005,0.005000,0.395696,0.430137,0.005009,0.005001,0.005015
1,--0kuuLmuYBe3Rmu0Iycww,0.373362,0.160772,0.122085,0.005390,0.156996,0.170622,0.005386,0.005387
2,--2tyArRmSoyKx5r-FVG0A,0.257389,0.009424,0.013265,0.180111,0.185537,0.197084,0.096957,0.060232
3,--2vR0DIsmQ6WfcSzKWigw,0.033140,0.009672,0.812296,0.013007,0.012538,0.021357,0.097229,0.000761
4,--4AjktZiHowEIBCMd4CZA,0.206812,0.005182,0.017323,0.049723,0.425025,0.080224,0.049057,0.166654
...,...,...,...,...,...,...,...,...,...
159922,zzrhWsiCwAKQzbgMZIOtgg,0.230308,0.045626,0.063714,0.082449,0.372313,0.085547,0.103842,0.016201
159923,zztAOHhlNfNzOxUeyxeyFw,0.356585,0.005961,0.005957,0.005964,0.430900,0.122631,0.066047,0.005957
159924,zzvCl_egPyWpxO7EvWc2IA,0.004241,0.067078,0.004237,0.149818,0.644001,0.059269,0.067116,0.004239
159925,zzwYLnmIvj8C7wJmRjtkRA,0.042339,0.122963,0.006520,0.006525,0.709200,0.099399,0.006525,0.006529
159926,zzx7J3zheFF3zf5YYfDAMg,0.005443,0.058935,0.005437,0.005456,0.482066,0.005439,0.005440,0.431783

In [4]:
restaurant_profile

,business_id,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8
0,-0M0b-XhtFagyLmsBtOe8w,0.078602,0.046403,0.022593,0.140175,0.436417,0.175497,0.080066,0.020248
1,-0PN_KFPtbnLQZEeb23XiA,0.402912,0.018541,0.005863,0.084059,0.078386,0.047164,0.063135,0.299939
2,-0TffRSXXIlBYVbb5AwfTg,0.108954,0.216670,0.018824,0.104431,0.367122,0.047990,0.033901,0.102109
3,-0eUa8TsXFFy0FCxHYmrjg,0.418875,0.053791,0.043648,0.096559,0.211321,0.037843,0.081673,0.056292
4,-1B9pP_CrRBJYPICE5WbRA,0.082961,0.078748,0.013261,0.108814,0.360558,0.038375,0.020408,0.296874
...,...,...,...,...,...,...,...,...,...
5772,zxY4DgtXsVHihSUpsmwamg,0.641424,0.130154,0.012577,0.066264,0.075898,0.037468,0.031334,0.004880
5773,zy7uNOvpykrq-XlmDY_wHA,0.248098,0.050230,0.022135,0.199817,0.365974,0.024520,0.074811,0.014414
5774,zyMkbavgHASQtqVwaock9A,0.678724,0.030783,0.018321,0.031066,0.141033,0.033699,0.032831,0.033543
5775,zz-fcqurtm77bZ_rVvo2Lw,0.463548,0.108644,0.059583,0.041887,0.111181,0.117334,0.068131,0.029690
5776,zzyx5x0Z7xXWWvWnZFuxlQ,0.603816,0.093469,0.122769,0.003053,0.003053,0.074058,0.096726,0.003055

In [5]:
reviews = pd.read_csv("yelp_academic_dataset_review.csv")
businesses = pd.read_csv("yelp_academic_dataset_business.csv")

In [6]:
reviews = reviews.merge(businesses, how='left', on='business_id')
reviews = reviews[(reviews['city'] == 'Philadelphia') & (reviews['categories'].str.contains('Restaurants', na=False))]
reviews.reset_index(drop=True, inplace=True)
reviews = reviews[['user_id', 'business_id', 'stars_x']]
reviews

                       user_id             business_id  stars_x
0       _7bHUi9Uuf5__HHc_Q8guQ  kxX2SOes4o-D3ZQBkiMRfA      5.0
1       eUta8W_HdHMXPzLBBZhL1A  04UD14gamNjLY0IDYVhHJg      1.0
2       smOvOajNG0lS4Pq7d8g4JQ  RZtGWDLCAtuipwaZ-UfjmQ      4.0
3       Dd1jQj7S-BFGqRbApFzCFw  YtSqYv1Q_pOltsVPSx54SA      5.0
4       IQsF3Rc6IgCzjVV9DE8KXg  eFvzHawVJofxSnD7TgbZtg      5.0
...                        ...                     ...      ...
687284  ua6QuBe6mar6pDrhHETzJQ  Bk_1vsPtOtO0bojfQZQIOw      2.0
687285  LHWtjTG7e1NzNPYUbUo-9w  rgeuy1qbw6Z8B6CSVANHIA      5.0
687286  7-7A0Avj47slLGV7yBFc8w  ytynqOUb3hjKeJfRj5Tshw      3.0
687287  am7-gkH_PDz598oTdYSD6A  3gVSrS4kffGGZT8oXHsIcw      3.0
687288  MCzlzlOw7IGbRAKVjJBPtg  fcGexL5VH5G2Xw0tRj9uOQ      3.0

[687289 rows x 3 columns]

In [7]:
# counts
user_counts = reviews['user_id'].value_counts()
restaurant_counts = reviews['business_id'].value_counts()

# creating filters
users_with_5_plus_reviews = user_counts[user_counts >= 5].index
restaurants_with_5_plus_reviews = restaurant_counts[restaurant_counts >= 5].index

# applying filters to reviews df
filtered_reviews = reviews[
    (reviews['user_id'].isin(users_with_5_plus_reviews)) &
    (reviews['business_id'].isin(restaurants_with_5_plus_reviews))
]

filtered_reviews.reset_index(drop=True, inplace=True)
filtered_reviews

# Some restaurantes appear only once because although they have 5+ reviews, some reviews were deleted because the users don't have 5+ reviews
# Doesn't matter because the profile is valid anyway

                       user_id             business_id  stars_x
0       smOvOajNG0lS4Pq7d8g4JQ  RZtGWDLCAtuipwaZ-UfjmQ      4.0
1       IQsF3Rc6IgCzjVV9DE8KXg  eFvzHawVJofxSnD7TgbZtg      5.0
2       aFa96pz67TwOFu4Weq5Agg  kq5Ghhh14r-eCxlVmlyd8w      5.0
3       ZGjgfSvjQK886kiTzLwfLQ  EtKSTHV5Qx_Q7Aur9o4kQQ      5.0
4       IKbjLnfBQtEyVzEu8CuOLg  VJEzpfLs_Jnzgqh5A_FVTg      4.0
...                        ...                     ...      ...
415107  ua6QuBe6mar6pDrhHETzJQ  Bk_1vsPtOtO0bojfQZQIOw      2.0
415108  LHWtjTG7e1NzNPYUbUo-9w  rgeuy1qbw6Z8B6CSVANHIA      5.0
415109  7-7A0Avj47slLGV7yBFc8w  ytynqOUb3hjKeJfRj5Tshw      3.0
415110  am7-gkH_PDz598oTdYSD6A  3gVSrS4kffGGZT8oXHsIcw      3.0
415111  MCzlzlOw7IGbRAKVjJBPtg  fcGexL5VH5G2Xw0tRj9uOQ      3.0

[415112 rows x 3 columns]

In [8]:
sample = filtered_reviews.sample(10000, random_state=10)
sample.reset_index(drop=True, inplace=True)
sample

                     user_id             business_id  stars_x
0     dootbuF6YgSygb32DIqwQA  ckbvLKwjEb836t-EDKsVVg      3.0
1     TSw2FmUF4-ud_d0INYKg6w  BgQOm2TuoF1UmD4e7BOUjA      5.0
2     fjzdwKoo7iTf7zf5ouZRVA  ENhzvzEbixDwE3f5G-shbg      5.0
3     aQmA4I6OnCPAvAzWL14QAQ  sVZb87xjhbCWHQ2UXOGLrA      3.0
4     2XBcnIVhp_pEeer-asuxHA  dwJL0XiFv7EgCts-wjQpwg      5.0
...                      ...                     ...      ...
9995  rZg5xWm--gdr6LiHoqe_AA  BxfvdHqETU8jWYUjx5OL2A      5.0
9996  5LwkyABp-j1_Dp92cArzkw  d_tRshM-w6S4QxE4VVi8tQ      5.0
9997  YE5hSKqAdPhVC7qQ_8NW-g  Pl_9HzOa8uy_YOUxgonzGw      5.0
9998  4dHJjrmK-hUDNV-vQf52CQ  30cpm1uq6xcQCmN6JTrB8w      5.0
9999  GRjNWMQ0tTNOmey3oY2hnA  wYJxaGAGhSaAf_6UG7bD9g      3.0

[10000 rows x 3 columns]

In [9]:
sample = sample.merge(user_profile, how='left', on='user_id').merge(restaurant_profile, how='left', on='business_id')
sample.dropna(inplace=True)
sample.reset_index(drop=True, inplace=True)
sample

,user_id,business_id,stars_x,topic_1_x,topic_2_x,topic_3_x,topic_4_x,topic_5_x,topic_6_x,topic_7_x,topic_8_x,topic_1_y,topic_2_y,topic_3_y,topic_4_y,topic_5_y,topic_6_y,topic_7_y,topic_8_y
0,dootbuF6YgSygb32DIqwQA,ckbvLKwjEb836t-EDKsVVg,3.0,0.308779,0.048596,0.036956,0.113562,0.177164,0.059765,0.037127,0.218050,0.220828,0.078876,0.013133,0.132360,0.273543,0.071451,0.091971,0.117838
1,TSw2FmUF4-ud_d0INYKg6w,BgQOm2TuoF1UmD4e7BOUjA,5.0,0.204804,0.053835,0.052109,0.083375,0.282313,0.088313,0.136031,0.099221,0.155282,0.076728,0.032858,0.124806,0.419785,0.092728,0.075030,0.022783
2,fjzdwKoo7iTf7zf5ouZRVA,ENhzvzEbixDwE3f5G-shbg,5.0,0.188819,0.237649,0.036176,0.003375,0.126039,0.038010,0.045141,0.324792,0.127921,0.025519,0.015085,0.081932,0.269097,0.035174,0.021774,0.423497
3,aQmA4I6OnCPAvAzWL14QAQ,sVZb87xjhbCWHQ2UXOGLrA,3.0,0.092061,0.008866,0.008867,0.100230,0.635958,0.062626,0.036125,0.055267,0.142936,0.162259,0.027210,0.162446,0.414735,0.049028,0.016364,0.025022
4,2XBcnIVhp_pEeer-asuxHA,dwJL0XiFv7EgCts-wjQpwg,5.0,0.496208,0.021178,0.033071,0.197733,0.131296,0.040676,0.032826,0.047012,0.624817,0.032622,0.079510,0.156122,0.016242,0.066348,0.020700,0.003639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9958,rZg5xWm--gdr6LiHoqe_AA,BxfvdHqETU8jWYUjx5OL2A,5.0,0.213599,0.136725,0.030742,0.154508,0.215924,0.123906,0.060490,0.064105,0.598443,0.038803,0.031324,0.100926,0.081210,0.089470,0.044279,0.015545
9959,5LwkyABp-j1_Dp92cArzkw,d_tRshM-w6S4QxE4VVi8tQ,5.0,0.380333,0.077530,0.065234,0.032181,0.145298,0.039313,0.088010,0.172101,0.269689,0.082555,0.024239,0.118690,0.314676,0.059675,0.080164,0.050312
9960,YE5hSKqAdPhVC7qQ_8NW-g,Pl_9HzOa8uy_YOUxgonzGw,5.0,0.176161,0.197818,0.019675,0.069772,0.272018,0.047276,0.035486,0.181794,0.163277,0.045663,0.037661,0.086729,0.224187,0.039252,0.038494,0.364738
9961,4dHJjrmK-hUDNV-vQf52CQ,30cpm1uq6xcQCmN6JTrB8w,5.0,0.174397,0.051633,0.009242,0.049177,0.311383,0.153701,0.065841,0.184626,0.303791,0.150152,0.037180,0.058647,0.162552,0.055152,0.041718,0.190808
9962,GRjNWMQ0tTNOmey3oY2hnA,wYJxaGAGhSaAf_6UG7bD9g,3.0,0.254603,0.006467,0.019092,0.077298,0.475219,0.102001,0.058850,0.006471,0.212612,0.063754,0.023970,0.141583,0.354648,0.119827,0.045522,0.038086

In [10]:
x_user = sample.iloc[:, 3:11]
x_restaurant = sample.iloc[:, 11:]
y = sample['stars_x']

# Model

In [67]:
user_NN = tf.keras.models.Sequential([
    tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(32)
])

restaurant_NN = tf.keras.models.Sequential([
    tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(32)
])

In [68]:
# user input and normalization
input_user = tf.keras.layers.Input(shape = x_user.shape[1])
vu = user_NN(input_user)
vu = tf.linalg.l2_normalize(vu, axis=1)

In [69]:
# restaurant input and normalization
input_restaurant = tf.keras.layers.Input(shape = x_restaurant.shape[1])
vr = restaurant_NN(input_restaurant)
vr = tf.linalg.l2_normalize(vr, axis=1)

In [70]:
# similarity between output vectors
output = tf.keras.layers.Dot(axes=1)([vu, vr])

In [71]:
# model
model = tf.keras.Model([input_user, input_restaurant], output)

# cost function for regression
cost_fn = tf.keras.losses.MeanSquaredError()

In [72]:
tf.random.set_seed(10)
opt = tf.keras.optimizers.Adam(learning_rate=0.01)
model.compile(optimizer=opt, loss=cost_fn)
model.fit([x_user, x_restaurant], y, epochs=10)

Epoch 1/10
312/312 [==============================] - 1s 2ms/step - loss: 9.6757
Epoch 2/10
312/312 [==============================] - 1s 2ms/step - loss: 9.6353
Epoch 3/10
312/312 [==============================] - 1s 2ms/step - loss: 9.6353
Epoch 4/10
312/312 [==============================] - 1s 2ms/step - loss: 9.6353
Epoch 5/10
312/312 [==============================] - 1s 2ms/step - loss: 9.6353
Epoch 6/10
312/312 [==============================] - 1s 2ms/step - loss: 9.6353
Epoch 7/10
312/312 [==============================] - 1s 2ms/step - loss: 9.6353
Epoch 8/10
312/312 [==============================] - 1s 2ms/step - loss: 9.6353
Epoch 9/10
312/312 [==============================] - 1s 2ms/step - loss: 9.6353
Epoch 10/10
312/312 [==============================] - 1s 2ms/step - loss: 9.6353

In [57]:
y_hat = model.predict([x_user, x_restaurant])
y_hat = y_hat.reshape(9963,)

312/312 [==============================] - 0s 1ms/step

In [66]:
y_hat

array([0.99999994, 1.        , 0.99999994, ..., 1.0000001 , 0.9999999 ,
       1.0000001 ], dtype=float32)